@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Main content header -->
    <h1 class="display-4">Hello and welcome to the <br /><span class="text-success font-weight-bold">Expense Tracker</span>!</h1>

    <!-- Subtitle -->
    <h3>Click on <span class="font-weight-bold"><a asp-controller="Expenses" asp-action="Index"><u>Expenses</u></a></span> to get started.</h3>
</div>
