@model Lab5.Models.PaymentMethod

@{
    ViewData["Title"] = "Create";
}

<!-- Main content title -->
<h1>Create Payment Method</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Form to create a new payment method -->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Form group for the payment method name field -->
            <div class="form-group">
                <label asp-for="PaymentMethodName" class="control-label"></label>
                <input asp-for="PaymentMethodName" class="form-control" />
                <span asp-validation-for="PaymentMethodName" class="text-danger"></span>
            </div>
            <!-- Submit button -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- Return to Index button -->
<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
