@model Lab5.Models.PaymentMethod

@{
    ViewData["Title"] = "Details";
}

<!-- Main content title -->
<h1>Payment Method Details</h1>

<div>
    <hr />
    <!-- Description list to display the column title and value of the selected payment method -->
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PaymentMethodName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PaymentMethodName)
        </dd>
    </dl>
</div>
<div>
    <!-- Edit button -->
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <!-- Return to Index button -->
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
