@model Lab5.Models.PaymentMethod

@{
    ViewData["Title"] = "Edit";
}

<!-- Main content title -->
<h1>Edit Payment Method</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Form to edit the payment method -->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <!-- Label and input for the edited payment method -->
            <div class="form-group">
                <label asp-for="PaymentMethodName" class="control-label"></label>
                <input asp-for="PaymentMethodName" class="form-control" />
                <span asp-validation-for="PaymentMethodName" class="text-danger"></span>
            </div>
            <!-- Submit button -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!-- Return to Index button -->
<div>
    <a class="btn btn-info text-light" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
